@import "tailwindcss";

@custom-variant dark (&where(.dark, .dark *));

@theme {
  --color-pastel-secondary: rgb(247, 207, 216);
  --color-pastel-foreground: rgb(244, 248, 211);
  --color-pastel-primary: rgb(166, 214, 214);
  --color-pastel-background: rgb(142, 125, 190);
}

@plugin "tailwind-scrollbar" {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}
